<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Ajout Compte</div>
     <div class="panel-body">
     <form class="Form" >
       <div class="form-group">
         <label class="control-label">Matricule du prestataire</label>
         <input [(ngModel)]="compteData.matricule"  type="text" name="matricule" placeholder="19-NOOPrX" class="form-control">
       </div>
       
        <button (click)="compte()" type="submit" class="btn btn-success">Ajouter</button>
     </form>
    </div> 
  </div>   
  </div>

  