
<div class="col-md-9 align-content-center container">

    <!-- Show it when there is no compte -->
    <div class="no-data text-center" >
        <button class="btn btn-outline-primary" routerLink="/user">Ajout User</button>
      </div>
  
    <!-- comptelists list table, it hides when there is no comptelist -->
    <div class="form-group col-lg-6">
      <h3 class="mb-3 text-center">Liste comptes</h3>
  
      <div class="form-group col-lg-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">compte Id</th>
              <th scope="col">Numero</th>
              <th scope="col">Solde</th>
              <th scope="col">Date  de Création</th>         
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comptelist of Comptelist">
              <td>{{comptelist.id}}</td>
              <td>{{comptelist.numero}}</td>
              <td>{{comptelist.solde}}</td>
              <td>{{comptelist.DateCreation}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>