
    /* Add a red background color to navbar links on hover */
    .navbar a:hover{
      background-color: rgba(30, 150, 14, 0.808);
    }
    

  .logo{
    margin-top: -1%;
    max-width : 70%;
  }
  .menu{
    background-color: rgb(8, 92, 8);
  }
  .login{
    margin-left: 85%
  }