<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Retrait</div>
     <div class="panel-body">
     <form class="Form" >
       <div class="form-group">
         <label class="control-label">Code Retrait</label>
         <input [(ngModel)]="retrait.code"  type="number" name="code"  class="form-control">
       </div>
       <div class="form-group">
          <label class="control-label">Nom Envoyeur </label>
          <input [(ngModel)]="retrait.envoyeurNomComplet" type="text" name="envoyeurNomComplet" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Nom Recepteur </label>
          <input [(ngModel)]="retrait.recepteurNomComplet" type="text" name="recepteurNomComplet" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Cni Recepteur </label>
          <input [(ngModel)]="retrait.recepteurCni" type="number" name="recepteurCni" class="form-control">
        </div>
        <button (click)="retrait()" type="submit" class="btn btn-success">Retirer</button>
     </form>
    </div> 
  </div>   
  </div>

  